[Desktop Entry]
Name=wxMEdit
Comment=A Cross-platform Text/Hex Editor
Comment[zh]=跨平台的文本/十六进制编辑器
Comment[zh_CN]=跨平台的文本/十六进制编辑器
Comment[zh_SG]=跨平台的文本/十六进制编辑器
Comment[zh_TW]=跨平台的文字/十六進位編輯器
Comment[zh_HK]=跨平台的文字/十六進位編輯器
Comment[zh_MO]=跨平台的文字/十六進位編輯器
Comment[de_DE]=Ein Plattformübergreifender Text- und Hexadezimal-Editor
Comment[es]=Un Editor de Texto/Hexadecimal Multiplataforma
Comment[fr_FR]=Un Editeur Multi-Plateformes Texte et Héxadécimal
Comment[ja_JP]=クロスプラットフォームのテキスト/Hex エディタ
Comment[pl_PL]=Międzyplatformowy Tekst/Hex Edytor
Comment[ru_RU]=Кросс-платформенный Редактор Текста/Hex
Exec=wxmedit %F
Icon=wxmedit
Terminal=false
Type=Application
MimeType=text/plain;application/octet-stream;
Categories=Utility;TextEditor;
