<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="WXMPurgeHistoriesDialog">
		<title>Purge Histories</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX</style>
		<handler function="WXMPurgeHistoriesDialogClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Select histories to purge</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOXRECENTFILES" variable="WxCheckBoxRecentFiles" member="yes">
							<label>Recent &amp;Files</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOXRECENTFONTS" variable="WxCheckBoxRecentFonts" member="yes">
							<label>Recent Fon&amp;ts</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOXRECENTENCODINGS" variable="WxCheckBoxRecentEncodings" member="yes">
							<label>Recent &amp;Encodings</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOXRECENTFINDTEXTS" variable="WxCheckBoxRecentFindTexts" member="yes">
							<label>Recent &amp;Searched Texts</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOXRECENTREPLACETEXTS" variable="WxCheckBoxRecentReplaceTexts" member="yes">
							<label>Recent &amp;Replaced Texts</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOXRECENTFINDDIRS" variable="WxCheckBoxRecentFilesFindDirs" member="yes">
							<label>Recent Searched &amp;Directories</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOXRECENTFINDFILTERS" variable="WxCheckBoxRecentFindFilters" member="yes">
							<label>Recent Searched File Fi&amp;lters</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOXRECENTFINDEXCLUDES" variable="WxCheckBoxRecentFindExcludes" member="yes">
							<label>Recent Searched E&amp;xclude Filters</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONPURGE" variable="WxButtonPurge" member="yes">
							<label>&amp;Purge</label>
							<handler function="WxButtonPurgeClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="WxButtonCancel" member="yes">
							<label>&amp;Cancel</label>
							<default>1</default>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
		</object>
	</object>
</wxsmith>
