<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="WXMFindInFilesDialog">
		<title>Find/Replace In Files</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxRESIZE_BORDER|wxCLOSE_BOX</style>
		<handler function="WXMFindInFilesDialogClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer6" member="no" />
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer7" member="no" />
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer8" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_WXCHECKBOXCASESENSITIVE" variable="WxCheckBoxCaseSensitive" member="yes">
											<label>&amp;Case Sensitive</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT</flag>
										<border>2</border>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_WXCHECKBOXWHOLEWORD" variable="WxCheckBoxWholeWord" member="yes">
											<label>&amp;Whole Word Only</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT</flag>
										<border>2</border>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_WXCHECKBOXREGEX" variable="WxCheckBoxRegex" member="yes">
											<label>Use Regular E&amp;xpressions</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT</flag>
										<border>2</border>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_WXCHECKBOXFINDHEX" variable="WxCheckBoxFindHex" member="yes">
											<label>Find &amp;Hex String (Example: BE 00 3A or BE003A)</label>
											<handler function="WxCheckBoxFindHexClick" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_LEFT</flag>
										<border>2</border>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_WXCHECKBOXLISTFIRSTONLY" variable="WxCheckBoxListFirstOnly" member="yes">
											<label>&amp;List the First Found Item Only</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT</flag>
										<border>2</border>
									</object>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
							</object>
						</object>
						<flag>wxALL|wxALIGN_TOP</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer5" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxButton" name="ID_WXBUTTONFIND" variable="WxButtonFind" member="yes">
									<label>&amp;Find</label>
									<handler function="WxButtonFindClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_WXBUTTONREPLACE" variable="WxButtonReplace" member="yes">
									<label>&amp;Replace</label>
									<handler function="WxButtonReplaceClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_WXCHECKBOXENABLEREPLACE" variable="WxCheckBoxEnableReplace" member="yes">
									<label>&amp;Enable Replace</label>
									<handler function="WxCheckBoxEnableReplaceClick" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="wxID_CANCEL" variable="WxButtonClose" member="yes">
									<label>Close</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
							</object>
						</object>
						<flag>wxALL|wxALIGN_TOP</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxRadioButton" name="ID_WXRADIOBUTTONOPENEDFILES" variable="WxRadioButtonOpenedFiles" member="yes">
							<label>Opened Files in Editor</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>4</cols>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_WXRADIOBUTTONDIR" variable="WxRadioButtonDir" member="yes">
									<label>Selected Directory:</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_COMBOBOX1" variable="WxComboBoxDir" member="yes">
									<size>330,-1</size>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_WXBUTTONDIR" variable="WxButtonDir" member="yes">
									<label>...</label>
									<size>40,-1</size>
									<handler function="WxButtonDirClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_WXBUTTONACTIVEDIR" variable="WxButtonActiveDir" member="yes">
									<label>&lt;&lt;</label>
									<size>40,-1</size>
									<handler function="WxButtonActiveDirClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>File Filters:</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_WXCOMBOBOXFILTER" variable="WxComboBoxFilter" member="yes">
									<size>330,-1</size>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label></label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>8</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label></label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
									<label>Exclude Filters:</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_WXCOMBOBOXEXCLUDE" variable="WxComboBoxExclude" member="yes">
									<size>330,-1</size>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
									<label></label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>8</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
									<label></label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
									<label>File Encoding:</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_WXCOMBOBOXENCODING" variable="WxComboBoxEncoding" member="yes">
									<style>wxCB_READONLY|wxCB_DROPDOWN</style>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_WXCHECKBOXSUBDIR" variable="WxCheckBoxSubDir" member="yes">
							<label>Include Subdirectories</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>2</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
