<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="WXMEditAboutDialog">
		<title>About wxMEdit</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxCLOSE_BOX</style>
		<handler function="WXMEditAboutDialogClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
									<size>48,48</size>
									<style>0</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="StaticBitmap2" member="yes">
									<size>48,48</size>
									<style>0</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
							<handler function="OnNotebook1PageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
							<object class="notebookpage">
								<object class="wxPanel" name="ID_PANEL1" variable="AoubtTab" member="yes">
									<object class="wxBoxSizer" variable="BoxSizer5" member="no">
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TxtAbout" member="yes">
												<size>472,240</size>
												<style>wxTE_AUTO_SCROLL|wxTE_MULTILINE|wxTE_READONLY|wxTE_AUTO_URL|wxSTATIC_BORDER</style>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<option>1</option>
										</object>
									</object>
								</object>
								<label>About</label>
							</object>
							<object class="notebookpage">
								<object class="wxPanel" name="ID_PANEL2" variable="LicenseTab" member="yes">
									<object class="wxBoxSizer" variable="BoxSizer6" member="no">
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TxtLicense" member="yes">
												<style>wxTE_AUTO_SCROLL|wxTE_MULTILINE|wxTE_READONLY|wxTE_AUTO_URL|wxTE_WORDWRAP|wxSTATIC_BORDER</style>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<option>1</option>
										</object>
									</object>
								</object>
								<label>License</label>
							</object>
							<object class="notebookpage">
								<object class="wxPanel" name="ID_PANEL3" variable="CreditsTab" member="yes">
									<object class="wxBoxSizer" variable="BoxSizer7" member="no">
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TxtCredits" member="yes">
												<style>wxTE_AUTO_SCROLL|wxTE_MULTILINE|wxTE_READONLY|wxTE_WORDWRAP|wxSTATIC_BORDER</style>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<option>1</option>
										</object>
									</object>
								</object>
								<label>Credits</label>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="wxID_OK" variable="WxButtonOK" member="yes">
							<label>&amp;OK</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>4</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="WxButtonCancel" member="yes">
							<label>&amp;Cancel</label>
							<default>1</default>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>3</border>
			</object>
		</object>
	</object>
</wxsmith>
